.customer {
  justify-content: center;
  &-section {
    @include pTop-pBottom94();
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
  &-link {
    width: 170px;
    height: 90px;
    @include dFlex-aiCenter();
    justify-content: center;
    border: 1px solid $border-color;
    border-radius: 4px;
    fill: $border-color;
    background-color: $primary-white-color;

    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  &-link:hover,
  &-link:focus {
    border: 1px solid $accent-color;
    fill: $accent-color;
  }
}
